$theme: #00adb5;
$theme-bj-color: #f0f2f5;
$text-color: #364f6b;
$padding-top: 4rem;
$space: 1rem;
$font-color-empty: #a2a8a2;

// main
$main-bj-color: #efefef;

// header
$header-height: 3rem;
$header-zIndex: 100;
$header-box-shadow: 6px 0px 6px 0px rgba(207, 174, 249, 0.3);
$header-zIndex-mobile: 105;
$header-zIndex-bj-color-mobile: #454d66;

// sidebar
$sidebar-width: 12rem;
$sidebar-color: #6b7386;
$sidebar-color-hover: rgba(207, 174, 249, 0.3);

// aside
$width: 16rem;

// btn
$btn-color: #fff;
$btn-primary: #505bda;
$btn-warning: #b20000;

// 字体渐变色
$home-font-linear: #cfaef9;
$home-font-gradient: #00adb5;

// post
$post-title-color: #2c3e50;
$post-head-height: 4rem;

// content
$content-color-border: rgba(0, 0, 0, 0.1);
$content-color-hover: rgba(207, 174, 249, 0.3);

$lineNumbersWrapperWidth: 3.5rem;
$codeBgColor: #282c34;

// popup-cover
$popup-bj-color: rgba(0, 0, 0, 0.3);

// 404
$not-found-bj-color: #007fff;

// other
$line-color: #e5e5e5;
$time-color: #989898;
$page-nav-border-color: #eaecef;

// media
$sm: 414px;
$md600: 600px;
$md640: 640px;
$md720: 720px;
$md: 768px;
$lg890: 890px;
$lg: 960px;
$xl1024: 1024px;
$xl1228: 1228px;
$xl1366: 1366px;
$xl1440: 1440px;

$codeLang: js, ts, typescript, html, md, vue, css, sass, scss, less, stylus, go,
  java, c, sh, yaml, py, docker, dockerfile, markup, markdown, json, php, svg;
